<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .redondeado{
        text-aling: center;
        border-radius: 10px;
        }
    </style>


    <h2> Identificat </h2>
    <h2> HTML sintax </h2>

    <form action="@{Login()}" method="get">

        <label>First Name:</label>
        <input type="text" class=redondeado name="u.nombre" size="19" /><br>
        <br>

        <label>Password:</label>
        <input type="password" name="u.password" size="19"/>
        <br>
        <br>
        <input type="submit" value="Send data" />

        <a href="@{EnviarRegistrarse()}">Registrarse</a>

    </form>






</head>
<body>

</body>
</html>