<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2><b>Identificat</b>  </h2>
<h2> HTML sintax </h2>

<form action="@{Register()}" method="get">
<pre>
    <label>First Name:</label>
    <input type="text" name="u.nombre" size="19" /><br>
    <br>
    <label>Edad:</label>
    <input type="text" name="u.edad" size="19"/>
    <br>
    <br>
    <label>Password:</label>
    <input type="password" name="u.password" size="19"/>
    <br>
    <br>
    <label>Password Confirmation:</label>
    <input type="password" name="password" size="19"/>//si quito elu no se envia?
    <br>
    <br>
    <input type="submit" value="Send data"/>
</pre>
</form>
</body>
</html>